.searchContainer {
  display: flex;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 25px;

  span {
    display: block;
    width: 20px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
  input {
    outline: none;
    border: none;
    height: 30px;
    background: transparent;
    width: 100%;
    color: #fff;
    padding: 2px 5px;
    &::placeholder {
      color: #fff;
    }
  }
}
